body, html{
    margin: 0
}

.top-box {
    background-color: salmon;
    height: 125px;
    width: 99vw;
    border: solid black 1px;
    
}

h1 {
    margin: 30px;
    display: inline-block;
}

.smallLabel h3 {
    display: inline-block;
}

.html {
    margin: 30px auto;
    height: 30vh;
    width: 95vw;
    padding: 10px;
    border: dotted black;
}

 .html img {
    float: left;
    margin: 8px 00 20px;
    padding: 5px;
    height: 10%;
    width: 10%;
}



p {
    margin: 30px auto;
    
}

.css3 {
    margin: 30px auto;
    height: 50vh;
    width: 95vw;
    padding: 10px;
    border: dotted black;
}

.css3 img {
    float: right;
    margin: 8px 00 20px;
    padding: 5px;
    height: 10%;
    width: 10%;
}